@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,300;1,500;1,900&display=swap");

:root {
  --primary-background-color: #f6f6f6;

  --primary-text-color: #a9b3bb;
  --secondary-text-color: #f85f6a;

  --primary-navfooter-color: #929292;
  --secondary-navfooter-color: #d7d7d7;

  --donut-chart-color-1: #f85f6a;
  --donut-chart-color-2: #5e6af7;
  --donut-chart-color-3: #7ce3ae;

  --primary-button-color: #72bb52;
  --secondary-button-color: #ca0000;

  --primary-icon-color: #4d4d4d;

  --primary-button-meal: #c0c0c0;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
section {
  height: 100%;
}
body {
  background-color: #f6f6f6;
}
button {
  border-radius: 5px;
}
footer {
  position: fixed;
  left: 0%;
  bottom: 0%;
  color: #a9b3bb;
  padding-left: 15px;
  padding-bottom: 15px;
}
a {
  text-decoration: none;
  color: #f85f6a;
}

/*defuls*/
.d-flex {
  display: flex;
}
.d-inline {
  display: inline-block;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.space-between {
  justify-content: space-between;
}
.h-40 {
  height: 40px;
}
.w-100p{
  width: 100%;
}
.w-240 {
  width: 240px;
}
.w-500 {
  width: 500px;
}
.field {
  border: 0px;
  border-bottom: 2px solid #d7d7d7;
  outline: 0;
  color: #4d4d4d;
  padding: 5px 0;
  background: transparent;
  transition: 0.2s;
}
.field:focus {
  border: 0px;
  border-bottom: 2px solid #9c9c9c;
  outline: 0;
  color: #4d4d4d;
  padding: 5px 0;
  background: transparent;
}
.mb-24 {
  margin-bottom: 24px;
}
.text-primary {
  color: #929292;
}
.text-secondary {
  color: #f85f6a;
}
