@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/*---- Common ----*/
.section-title {
  font-size: 32px;
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.section {
  margin-bottom: 64px;
}
.section-title {
  margin-bottom: 24px;
}
/*---- Menu ----*/

/*---- Hero Section ----*/
.hero-section {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 600;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-position: center center;
}
.hero-title {
  height: 720px;
  padding-top: 128px;
}

/*---- Collection Section ----*/
.collection-item-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.collection-item {
  background-size: cover;
  background-position: 50% 82%;
  padding: 24px;
  border-radius: 8px;
}

.collection-item-one {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.9),
      rgba(0, 0, 0, 0.1)
    ),
    url("../images/classic-collection.jpg"); /* Photo by NordWood Themes on Unsplash */
}

.collection-item-two {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.2)
    ),
    url("../images/sport-collection.jpg"); /* Photo by Tom Radetzki on Unsplash */
}

.collection-item-three {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url("../images/sandal-collection.jpg"); /* Photo by Andy Garza on Unsplash */
}

.collection-item-four {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/casual-collection.jpg"); /* Photo by Trendest Studio on Unsplash */
}

/*---- Product Section ----*/
.product-item {
  margin: 0px;
  margin-bottom: 16px;
  width: calc(90% / 3);
}
.product-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.product-item-image {
  font-size: 18px;
  font-weight: 600;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 12px;
  object-position: 50% 50%;
}
#product-item-image-5 {
  height: 200px;
  width: 100%;
  object-position: 0% 80%;
}
.product-label {
  position: relative;
  background-color: #f87060;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px;
  width: fit-content;
  top: -200px;
  left: -8px;
}
.price {
  margin-top: 24px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*---- About Section ----*/
